/*     : Pseudo-elements
       :: Pseudo-classes */
       /* div{
        width: 100px;
        height: 100px;
        background-color: aqua;
       }
       div:hover{
        background-color: blue;
       }
        */
        
        /* p:first-child::first-line{
            font-size: 50px;

        } */
        p::before{

            content: "this is inserted from :: before=>" ;

        }
        p::after{
            content: "<=this is inserted from ::after ";
        }